{% if config.extra.papermod.default_theme == "light" %}
<script>
    if (localStorage.getItem("pref-theme") === "dark") {
        document.body.classList.add('dark');
    }
</script>
{% elif config.extra.papermod.default_theme == "dark" %}
<script>
    if (localStorage.getItem("pref-theme") === "light") {
        document.body.classList.remove('dark')
    }
</script>
{% else %}
<script>
    if (localStorage.getItem("pref-theme") === "dark") {
        document.body.classList.add('dark');
    } else if (localStorage.getItem("pref-theme") === "light") {
        document.body.classList.remove('dark')
    } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark');
    }
</script>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0"/>
{% endif %}
<header class="header">

    <nav class="nav">
        <div class="logo">
            <a href="{{ config.base_url }}" accesskey="h" title="{{ config.extra.papermod.title }} (Alt + H)">
                {%- if config.extra.papermod.icon %}<img src="{{ get_url(path=config.extra.papermod.icon) }}"
                                                         alt="{{ config.extra.papermod.title }}"
                                                         aria-label="{{ config.extra.papermod.title }}">{%- endif %}
            </a>
        </div>
        {% if config.extra.papermod.navigation %}
        <ul id="menu" class="desktop-nav">
            {% for item in config.extra.papermod.navigation %}
            {% set url = item.url | replace(from='$BASE_URL', to=config.base_url) %}
            {% set is_active_link = current_url and url | trim_end_matches(pat="/") == current_url |
            trim_end_matches(pat="/") %}
            <li>
                <a href="{{ url }}" title="{{ item.title }}">
                    <span{% if is_active_link %} class="active"{% endif %}>{{ item.title }}</span>
                    {% if item.is_external and item.is_external == true %}
                    <svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round"
                         stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24" height="12" width="12">
                        <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
                        <path d="M15 3h6v6"></path>
                        <path d="M10 14L21 3"></path>
                    </svg>
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
        <div id="overlayNavOpen">
            <span onclick="openNav()" class="material-symbols-outlined">menu</span>
        </div>
        {% endif %}
    </nav>
</header>

{% if config.extra.papermod.navigation %}
<div id="overlayNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
        {% for item in config.extra.papermod.navigation %}
        {% set url = item.url | replace(from='$BASE_URL', to=config.base_url) %}
        {% set is_active_link = current_url and url | trim_end_matches(pat="/") == current_url |
        trim_end_matches(pat="/") %}
        <a href="{{ url }}" title="{{ item.title }}">
            <span{% if is_active_link %} class="active"{% endif %}>{{ item.title }}</span>
            {% if item.is_external and item.is_external == true %}
            <svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24" height="12" width="12">
                <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
                <path d="M15 3h6v6"></path>
                <path d="M10 14L21 3"></path>
            </svg>
            {% endif %}
        </a>
        {% endfor %}
    </div>
</div>
{% endif %}