set_io ft_clk A6
set_io ft_wakeup C1
set_io ft_reset D3
set_io ft_rxf G3
set_io ft_txe F3
set_io ft_oe H3
set_io ft_rd J1
set_io ft_wr B1
set_io ft_be[0] D4
set_io ft_be[1] E1
set_io ft_be[2] F4
set_io ft_be[3] A1
set_io ft_data[0] L1
set_io ft_data[1] J3
set_io ft_data[2] P2
set_io ft_data[3] L4
set_io ft_data[4] M1
set_io ft_data[5] K3
set_io ft_data[6] P3
set_io ft_data[7] M4
set_io ft_data[8] N1
set_io ft_data[9] P1
set_io ft_data[10] P4
set_io ft_data[11] M6
set_io ft_data[12] M3
set_io ft_data[13] K4
set_io ft_data[14] P5
set_io ft_data[15] M7
set_io ft_data[16] C6
set_io ft_data[17] H1
set_io ft_data[18] D7
set_io ft_data[19] A5
set_io ft_data[20] C5
set_io ft_data[21] D6
set_io ft_data[22] D5
set_io ft_data[23] A4
set_io ft_data[24] C4
set_io ft_data[25] G4
set_io ft_data[26] H4
set_io ft_data[27] A3
set_io ft_data[28] C3
set_io ft_data[29] D1
set_io ft_data[30] E4
set_io ft_data[31] A2
