set_io io_led[0][0] E12
set_io io_led[0][1] D14
set_io io_led[0][2] F12
set_io io_led[0][3] E14
set_io io_led[0][4] C14
set_io io_led[0][5] D12
set_io io_led[0][6] B14
set_io io_led[0][7] C12
set_io io_led[1][0] C11
set_io io_led[1][1] A12
set_io io_led[1][2] C10
set_io io_led[1][3] A11
set_io io_led[1][4] C9
set_io io_led[1][5] A10
set_io io_led[1][6] A7
set_io io_led[1][7] C7
set_io io_led[2][0] A6
set_io io_led[2][1] C6
set_io io_led[2][2] A5
set_io io_led[2][3] C5
set_io io_led[2][4] A4
set_io io_led[2][5] C4
set_io io_led[2][6] G4
set_io io_led[2][7] D5
set_io io_dip[0][0] H11
set_io io_dip[0][1] G11
set_io io_dip[0][2] F11
set_io io_dip[0][3] E11
set_io io_dip[0][4] D11
set_io io_dip[0][5] D10
set_io io_dip[0][6] G1
set_io io_dip[0][7] D9
set_io io_dip[1][0] H1
set_io io_dip[1][1] D7
set_io io_dip[1][2] D6
set_io io_dip[1][3] M6
set_io io_dip[1][4] P4
set_io io_dip[1][5] M4
set_io io_dip[1][6] P3
set_io io_dip[1][7] L4
set_io io_dip[2][0] P2
set_io io_dip[2][1] L1
set_io io_dip[2][2] J3
set_io io_dip[2][3] M1
set_io io_dip[2][4] K3
set_io io_dip[2][5] N1
set_io io_dip[2][6] P1
set_io io_dip[2][7] M3
set_io io_button[0] D1
set_io io_button[1] E4
set_io io_button[2] E1
set_io io_button[3] F4
set_io io_button[4] H4
set_io io_select[0] H3
set_io io_select[1] J1
set_io io_select[2] F3
set_io io_select[3] G3
set_io io_segment[0] B1
set_io io_segment[1] C1
set_io io_segment[2] C3
set_io io_segment[3] D4
set_io io_segment[4] A1
set_io io_segment[5] D3
set_io io_segment[6] A3
set_io io_segment[7] A2
