{% macro render_tutorial_section(section) %}
<h1>{{ section.title }}</h1>
{% if section.content %}
<div class="post-content">
    {{ section.content | safe }}
</div>
{% endif %}
<div class="tutorials">
{% for page in section.pages %}
<article class="post-entry">
    <header class="entry-header">
        <h2>{{ page.title }}</h2>
    </header>
    {% if page.summary %}
    <div class="entry-content">
        <p>{{ page.summary | safe }}</p>
    </div>
    {% endif %}
    <footer class="entry-footer">
        {% include "partials/post_card_meta.html" %}
    </footer>
    <a class="entry-link" aria-label="post link to {{ page.title }}" href="{{ page.permalink }}"></a>
</article>
{% endfor %}
</div>
{% endmacro render_tutorial_section %}