<details class="pinout-details">
    <summary>Pinout Table</summary>
    <div class="table-toggles">
        <label>
            Show Trace Lengths
            <md-switch data-optional-group="au-pinout"></md-switch>
        </label>
    </div>
    <div class="pinout-table-group">
        <div class="pinout-table-container">
            <h2>Bank A</h2>
            <table class="pin-table" data-optional-group="au-pinout" data-show-optional="0" aria-label="Pin table">
                <tbody>
<tr>
                    <td class="optional"><strong>Length [mm]</strong></td>
                    <td class="optional"><strong>Pkg Delay [ps]</strong></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">1</td>
                    <td class="num">2</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"><strong>Length [mm]</strong></td>
                    <td class="optional"><strong>Pkg Delay [ps]</strong></td>
                </tr><tr>
                    <td class="optional">41.87</td>
                    <td class="optional">129.78</td>
                    <td class="outer"><span class="pill c-io-diff">IO N</span></td>
                    <td class="num">3</td>
                    <td class="num">4</td>
                    <td class="outer"><span class="pill c-io-diff">IO N</span></td>
                    <td class="optional">48.42</td>
                    <td class="optional">106.38</td>
                </tr><tr>
                    <td class="optional">41.64</td>
                    <td class="optional">131.44</td>
                    <td class="outer"><span class="pill c-io-diff">IO P</span></td>
                    <td class="num">5</td>
                    <td class="num">6</td>
                    <td class="outer"><span class="pill c-io-diff">IO P</span></td>
                    <td class="optional">48.42</td>
                    <td class="optional">106.66</td>
                </tr><tr>
                    <td class="optional"></td>
                    <td class="optional"></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">7</td>
                    <td class="num">8</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"></td>
                    <td class="optional"></td>
                </tr><tr>
                    <td class="optional">33.31</td>
                    <td class="optional">69.50</td>
                    <td class="outer"><span class="pill c-io-diff">IO N</span></td>
                    <td class="num">9</td>
                    <td class="num">10</td>
                    <td class="outer"><span class="pill c-io-diff">IO N</span></td>
                    <td class="optional">38.82</td>
                    <td class="optional">72.25</td>
                </tr><tr>
                    <td class="optional">33.31</td>
                    <td class="optional">74.60</td>
                    <td class="outer"><span class="pill c-io-diff">IO P</span></td>
                    <td class="num">11</td>
                    <td class="num">12</td>
                    <td class="outer"><span class="pill c-io-diff">IO P</span></td>
                    <td class="optional">38.82</td>
                    <td class="optional">69.94</td>
                </tr><tr>
                    <td class="optional"></td>
                    <td class="optional"></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">13</td>
                    <td class="num">14</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"></td>
                    <td class="optional"></td>
                </tr><tr>
                    <td class="optional">27.67</td>
                    <td class="optional">63.21</td>
                    <td class="outer"><span class="pill c-io-diff">IO N</span></td>
                    <td class="num">15</td>
                    <td class="num">16</td>
                    <td class="outer"><span class="pill c-io-diff">IO N</span></td>
                    <td class="optional">34.72</td>
                    <td class="optional">59.50</td>
                </tr><tr>
                    <td class="optional">27.67</td>
                    <td class="optional">62.33</td>
                    <td class="outer"><span class="pill c-io-diff">IO P</span></td>
                    <td class="num">17</td>
                    <td class="num">18</td>
                    <td class="outer"><span class="pill c-io-diff">IO P</span></td>
                    <td class="optional">34.62</td>
                    <td class="optional">48.45</td>
                </tr><tr>
                    <td class="optional"></td>
                    <td class="optional"></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">19</td>
                    <td class="num">20</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"></td>
                    <td class="optional"></td>
                </tr><tr>
                    <td class="optional">32.23</td>
                    <td class="optional">89.99</td>
                    <td class="outer"><span class="pill c-io-diff">IO N</span></td>
                    <td class="num">21</td>
                    <td class="num">22</td>
                    <td class="outer"><span class="pill c-io-diff">IO N</span></td>
                    <td class="optional">31.65</td>
                    <td class="optional">84.70</td>
                </tr><tr>
                    <td class="optional">32.23</td>
                    <td class="optional">88.34</td>
                    <td class="outer"><span class="pill c-io-diff">IO P</span></td>
                    <td class="num">23</td>
                    <td class="num">24</td>
                    <td class="outer"><span class="pill c-io-diff">IO P</span></td>
                    <td class="optional">31.65</td>
                    <td class="optional">82.19</td>
                </tr><tr>
                    <td class="optional"></td>
                    <td class="optional"></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">25</td>
                    <td class="num">26</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"></td>
                    <td class="optional"></td>
                </tr><tr>
                    <td class="optional">27.04</td>
                    <td class="optional">57.72</td>
                    <td class="outer"><span class="pill c-io-diff">IO N</span></td>
                    <td class="num">27</td>
                    <td class="num">28</td>
                    <td class="outer"><span class="pill c-io-diff">IO N</span></td>
                    <td class="optional">29.57</td>
                    <td class="optional">71.93</td>
                </tr><tr>
                    <td class="optional">27.04</td>
                    <td class="optional">63.75</td>
                    <td class="outer"><span class="pill c-io-diff">IO P</span></td>
                    <td class="num">29</td>
                    <td class="num">30</td>
                    <td class="outer"><span class="pill c-io-diff">IO P</span></td>
                    <td class="optional">29.65</td>
                    <td class="optional">81.98</td>
                </tr><tr>
                    <td class="optional"></td>
                    <td class="optional"></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">31</td>
                    <td class="num">32</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"></td>
                    <td class="optional"></td>
                </tr><tr>
                    <td class="optional">31.81</td>
                    <td class="optional">66.61</td>
                    <td class="outer"><span class="pill c-io-diff">IO N</span></td>
                    <td class="num">33</td>
                    <td class="num">34</td>
                    <td class="outer"><span class="pill c-io-diff">IO N</span></td>
                    <td class="optional">32.53</td>
                    <td class="optional">67.73</td>
                </tr><tr>
                    <td class="optional">31.81</td>
                    <td class="optional">65.72</td>
                    <td class="outer"><span class="pill c-io-diff">IO P</span></td>
                    <td class="num">35</td>
                    <td class="num">36</td>
                    <td class="outer"><span class="pill c-io-diff">IO P</span></td>
                    <td class="optional">32.54</td>
                    <td class="optional">70.76</td>
                </tr><tr>
                    <td class="optional"></td>
                    <td class="optional"></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">37</td>
                    <td class="num">38</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"></td>
                    <td class="optional"></td>
                </tr><tr>
                    <td class="optional">22.66</td>
                    <td class="optional">120.07</td>
                    <td class="outer"><span class="pill c-clock">IO N - MRCC</span></td>
                    <td class="num">39</td>
                    <td class="num">40</td>
                    <td class="outer"><span class="pill c-clock">IO N - SRCC</span></td>
                    <td class="optional">28.55</td>
                    <td class="optional">91.49</td>
                </tr><tr>
                    <td class="optional">22.66</td>
                    <td class="optional">114.57</td>
                    <td class="outer"><span class="pill c-clock">IO P - MRCC</span></td>
                    <td class="num">41</td>
                    <td class="num">42</td>
                    <td class="outer"><span class="pill c-clock">IO P - SRCC</span></td>
                    <td class="optional">28.53</td>
                    <td class="optional">87.86</td>
                </tr><tr>
                    <td class="optional"></td>
                    <td class="optional"></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">43</td>
                    <td class="num">44</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"></td>
                    <td class="optional"></td>
                </tr><tr>
                    <td class="optional">35.61</td>
                    <td class="optional">81.95</td>
                    <td class="outer"><span class="pill c-clock">IO N - MRCC</span></td>
                    <td class="num">45</td>
                    <td class="num">46</td>
                    <td class="outer"><span class="pill c-clock">IO N - SRCC</span></td>
                    <td class="optional">39.82</td>
                    <td class="optional">82.54</td>
                </tr><tr>
                    <td class="optional">35.61</td>
                    <td class="optional">81.20</td>
                    <td class="outer"><span class="pill c-clock">IO P - MRCC</span></td>
                    <td class="num">47</td>
                    <td class="num">48</td>
                    <td class="outer"><span class="pill c-clock">IO P - SRCC</span></td>
                    <td class="optional">39.82</td>
                    <td class="optional">81.91</td>
                </tr><tr>
                    <td class="optional"></td>
                    <td class="optional"></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">49</td>
                    <td class="num">50</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"></td>
                    <td class="optional"></td>
                </tr><tr>
                    <td class="optional">25.00</td>
                    <td class="optional">89.03</td>
                    <td class="outer"><span class="pill c-io-diff">IO N</span></td>
                    <td class="num">51</td>
                    <td class="num">52</td>
                    <td class="outer"><span class="pill c-io-diff">IO N</span></td>
                    <td class="optional">29.90</td>
                    <td class="optional">66.75</td>
                </tr><tr>
                    <td class="optional">25.00</td>
                    <td class="optional">91.17</td>
                    <td class="outer"><span class="pill c-io-diff">IO P</span></td>
                    <td class="num">53</td>
                    <td class="num">54</td>
                    <td class="outer"><span class="pill c-io-diff">IO P</span></td>
                    <td class="optional">29.93</td>
                    <td class="optional">69.52</td>
                </tr><tr>
                    <td class="optional"></td>
                    <td class="optional"></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">55</td>
                    <td class="num">56</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"></td>
                    <td class="optional"></td>
                </tr><tr>
                    <td class="optional">24.35</td>
                    <td class="optional">90.32</td>
                    <td class="outer"><span class="pill c-split-diff-analog">IO N A</span></td>
                    <td class="num">57</td>
                    <td class="num">58</td>
                    <td class="outer"><span class="pill c-split-diff-analog">IO N A</span></td>
                    <td class="optional">33.77</td>
                    <td class="optional">90.71</td>
                </tr><tr>
                    <td class="optional">24.35</td>
                    <td class="optional">91.64</td>
                    <td class="outer"><span class="pill c-split-diff-analog">IO P A</span></td>
                    <td class="num">59</td>
                    <td class="num">60</td>
                    <td class="outer"><span class="pill c-split-diff-analog">IO P A</span></td>
                    <td class="optional">33.77</td>
                    <td class="optional">89.71</td>
                </tr><tr>
                    <td class="optional"></td>
                    <td class="optional"></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">61</td>
                    <td class="num">62</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"></td>
                    <td class="optional"></td>
                </tr><tr>
                    <td class="optional">30.47</td>
                    <td class="optional">94.12</td>
                    <td class="outer"><span class="pill c-split-diff-analog">IO N A</span></td>
                    <td class="num">63</td>
                    <td class="num">64</td>
                    <td class="outer"><span class="pill c-split-diff-analog">IO N A</span></td>
                    <td class="optional">33.32</td>
                    <td class="optional">99.38</td>
                </tr><tr>
                    <td class="optional">30.47</td>
                    <td class="optional">84.98</td>
                    <td class="outer"><span class="pill c-split-diff-analog">IO P A</span></td>
                    <td class="num">65</td>
                    <td class="num">66</td>
                    <td class="outer"><span class="pill c-split-diff-analog">IO P A</span></td>
                    <td class="optional">33.32</td>
                    <td class="optional">90.61</td>
                </tr><tr>
                    <td class="optional"></td>
                    <td class="optional"></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">67</td>
                    <td class="num">68</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"></td>
                    <td class="optional"></td>
                </tr><tr>
                    <td class="optional">29.82</td>
                    <td class="optional">96.32</td>
                    <td class="outer"><span class="pill c-split-diff-analog">IO N A</span></td>
                    <td class="num">69</td>
                    <td class="num">70</td>
                    <td class="outer"><span class="pill c-split-diff-analog">IO N A</span></td>
                    <td class="optional">33.02</td>
                    <td class="optional">87.78</td>
                </tr><tr>
                    <td class="optional">29.82</td>
                    <td class="optional">99.54</td>
                    <td class="outer"><span class="pill c-split-diff-analog">IO P A</span></td>
                    <td class="num">71</td>
                    <td class="num">72</td>
                    <td class="outer"><span class="pill c-split-diff-analog">IO P A</span></td>
                    <td class="optional">33.02</td>
                    <td class="optional">84.57</td>
                </tr><tr>
                    <td class="optional"></td>
                    <td class="optional"></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">73</td>
                    <td class="num">74</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"></td>
                    <td class="optional"></td>
                </tr><tr>
                    <td class="optional">26.66</td>
                    <td class="optional">86.62</td>
                    <td class="outer"><span class="pill c-split-diff-analog">IO N A</span></td>
                    <td class="num">75</td>
                    <td class="num">76</td>
                    <td class="outer"><span class="pill c-split-diff-analog">IO N A</span></td>
                    <td class="optional">31.26</td>
                    <td class="optional">96.37</td>
                </tr><tr>
                    <td class="optional">26.41</td>
                    <td class="optional">86.53</td>
                    <td class="outer"><span class="pill c-split-diff-analog">IO P A</span></td>
                    <td class="num">77</td>
                    <td class="num">78</td>
                    <td class="outer"><span class="pill c-split-diff-analog">IO P A</span></td>
                    <td class="optional">31.32</td>
                    <td class="optional">97.53</td>
                </tr><tr>
                    <td class="optional"></td>
                    <td class="optional"></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">79</td>
                    <td class="num">80</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"></td>
                    <td class="optional"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pinout-table-container">
            <h2>Bank B</h2>
            <table class="pin-table" data-optional-group="au-pinout" data-show-optional="0" aria-label="Pin table">
                <tbody>
<tr>
                    <td class="optional"><strong>Length [mm]</strong></td>
                    <td class="optional"><strong>Pkg Delay [ps]</strong></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">1</td>
                    <td class="num">2</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"><strong>Length [mm]</strong></td>
                    <td class="optional"><strong>Pkg Delay [ps]</strong></td>
                </tr><tr>
                    <td class="optional">17.51</td>
                    <td class="optional">109.30</td>
                    <td class="outer"><span class="pill c-io-diff">IO N</span></td>
                    <td class="num">3</td>
                    <td class="num">4</td>
                    <td class="outer"><span class="pill c-io-diff">IO N</span></td>
                    <td class="optional">12.11</td>
                    <td class="optional">107.25</td>
                </tr><tr>
                    <td class="optional">17.51</td>
                    <td class="optional">111.65</td>
                    <td class="outer"><span class="pill c-io-diff">IO P</span></td>
                    <td class="num">5</td>
                    <td class="num">6</td>
                    <td class="outer"><span class="pill c-io-diff">IO P</span></td>
                    <td class="optional">12.11</td>
                    <td class="optional">108.71</td>
                </tr><tr>
                    <td class="optional"></td>
                    <td class="optional"></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">7</td>
                    <td class="num">8</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"></td>
                    <td class="optional"></td>
                </tr><tr>
                    <td class="optional">22.97</td>
                    <td class="optional">108.47</td>
                    <td class="outer"><span class="pill c-io-diff">IO N</span></td>
                    <td class="num">9</td>
                    <td class="num">10</td>
                    <td class="outer"><span class="pill c-io-diff">IO N</span></td>
                    <td class="optional">10.96</td>
                    <td class="optional">110.08</td>
                </tr><tr>
                    <td class="optional">22.97</td>
                    <td class="optional">104.86</td>
                    <td class="outer"><span class="pill c-io-diff">IO P</span></td>
                    <td class="num">11</td>
                    <td class="num">12</td>
                    <td class="outer"><span class="pill c-io-diff">IO P</span></td>
                    <td class="optional">10.96</td>
                    <td class="optional">111.65</td>
                </tr><tr>
                    <td class="optional"></td>
                    <td class="optional"></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">13</td>
                    <td class="num">14</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"></td>
                    <td class="optional"></td>
                </tr><tr>
                    <td class="optional">21.37</td>
                    <td class="optional">119.33</td>
                    <td class="outer"><span class="pill c-io-diff">IO N</span></td>
                    <td class="num">15</td>
                    <td class="num">16</td>
                    <td class="outer"><span class="pill c-io-diff">IO N</span></td>
                    <td class="optional">11.04</td>
                    <td class="optional">95.83</td>
                </tr><tr>
                    <td class="optional">21.37</td>
                    <td class="optional">119.49</td>
                    <td class="outer"><span class="pill c-io-diff">IO P</span></td>
                    <td class="num">17</td>
                    <td class="num">18</td>
                    <td class="outer"><span class="pill c-io-diff">IO P</span></td>
                    <td class="optional">11.04</td>
                    <td class="optional">101.88</td>
                </tr><tr>
                    <td class="optional"></td>
                    <td class="optional"></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">19</td>
                    <td class="num">20</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"></td>
                    <td class="optional"></td>
                </tr><tr>
                    <td class="optional">22.19</td>
                    <td class="optional">116.81</td>
                    <td class="outer"><span class="pill c-io-diff">IO N</span></td>
                    <td class="num">21</td>
                    <td class="num">22</td>
                    <td class="outer"><span class="pill c-io-diff">IO N</span></td>
                    <td class="optional">11.81</td>
                    <td class="optional">97.86</td>
                </tr><tr>
                    <td class="optional">22.19</td>
                    <td class="optional">122.33</td>
                    <td class="outer"><span class="pill c-io-diff">IO P</span></td>
                    <td class="num">23</td>
                    <td class="num">24</td>
                    <td class="outer"><span class="pill c-io-diff">IO P</span></td>
                    <td class="optional">11.81</td>
                    <td class="optional">95.53</td>
                </tr><tr>
                    <td class="optional"></td>
                    <td class="optional"></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">25</td>
                    <td class="num">26</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"></td>
                    <td class="optional"></td>
                </tr><tr>
                    <td class="optional">22.95</td>
                    <td class="optional">108.93</td>
                    <td class="outer"><span class="pill c-io-diff">IO N</span></td>
                    <td class="num">27</td>
                    <td class="num">28</td>
                    <td class="outer"><span class="pill c-io-diff">IO N</span></td>
                    <td class="optional">12.99</td>
                    <td class="optional">85.37</td>
                </tr><tr>
                    <td class="optional">22.95</td>
                    <td class="optional">114.03</td>
                    <td class="outer"><span class="pill c-io-diff">IO P</span></td>
                    <td class="num">29</td>
                    <td class="num">30</td>
                    <td class="outer"><span class="pill c-io-diff">IO P</span></td>
                    <td class="optional">12.99</td>
                    <td class="optional">83.20</td>
                </tr><tr>
                    <td class="optional"></td>
                    <td class="optional"></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">31</td>
                    <td class="num">32</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"></td>
                    <td class="optional"></td>
                </tr><tr>
                    <td class="optional">43.26</td>
                    <td class="optional">41.65</td>
                    <td class="outer"><span class="pill c-io">IO - SDA</span></td>
                    <td class="num">33</td>
                    <td class="num">34</td>
                    <td class="outer"><span class="pill c-io-diff">IO N</span></td>
                    <td class="optional">15.06</td>
                    <td class="optional">93.08</td>
                </tr><tr>
                    <td class="optional">50.50</td>
                    <td class="optional">43.91</td>
                    <td class="outer"><span class="pill c-io">IO - SCL</span></td>
                    <td class="num">35</td>
                    <td class="num">36</td>
                    <td class="outer"><span class="pill c-io-diff">IO P</span></td>
                    <td class="optional">15.06</td>
                    <td class="optional">102.45</td>
                </tr><tr>
                    <td class="optional"></td>
                    <td class="optional"></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">37</td>
                    <td class="num">38</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"></td>
                    <td class="optional"></td>
                </tr><tr>
                    <td class="optional">24.62</td>
                    <td class="optional">124.53</td>
                    <td class="outer"><span class="pill c-clock">IO N - SRCC</span></td>
                    <td class="num">39</td>
                    <td class="num">40</td>
                    <td class="outer"><span class="pill c-clock">IO N - SRCC</span></td>
                    <td class="optional">17.67</td>
                    <td class="optional">116.36</td>
                </tr><tr>
                    <td class="optional">24.59</td>
                    <td class="optional">129.84</td>
                    <td class="outer"><span class="pill c-clock">IO P - SRCC</span></td>
                    <td class="num">41</td>
                    <td class="num">42</td>
                    <td class="outer"><span class="pill c-clock">IO P - SRCC</span></td>
                    <td class="optional">17.67</td>
                    <td class="optional">111.92</td>
                </tr><tr>
                    <td class="optional"></td>
                    <td class="optional"></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">43</td>
                    <td class="num">44</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"></td>
                    <td class="optional"></td>
                </tr><tr>
                    <td class="optional">25.16</td>
                    <td class="optional">112.96</td>
                    <td class="outer"><span class="pill c-clock">IO N - MRCC</span></td>
                    <td class="num">45</td>
                    <td class="num">46</td>
                    <td class="outer"><span class="pill c-io">IO - 1.35V</span></td>
                    <td class="optional">28.30</td>
                    <td class="optional">96.18</td>
                </tr><tr>
                    <td class="optional">25.16</td>
                    <td class="optional">114.40</td>
                    <td class="outer"><span class="pill c-clock">IO P - MRCC</span></td>
                    <td class="num">47</td>
                    <td class="num">48</td>
                    <td class="outer"><span class="pill c-io">IO - 1.35V</span></td>
                    <td class="optional">29.39</td>
                    <td class="optional">63.97</td>
                </tr><tr>
                    <td class="optional"></td>
                    <td class="optional"></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">49</td>
                    <td class="num">50</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"></td>
                    <td class="optional"></td>
                </tr><tr>
                    <td class="optional">36.36</td>
                    <td class="optional">73.22</td>
                    <td class="outer"><span class="pill c-multi">IO N MV</span></td>
                    <td class="num">51</td>
                    <td class="num">52</td>
                    <td class="outer"><span class="pill c-multi">IO N MV</span></td>
                    <td class="optional">29.23</td>
                    <td class="optional">74.89</td>
                </tr><tr>
                    <td class="optional">36.34</td>
                    <td class="optional">79.34</td>
                    <td class="outer"><span class="pill c-multi">IO P MV</span></td>
                    <td class="num">53</td>
                    <td class="num">54</td>
                    <td class="outer"><span class="pill c-multi">IO P MV</span></td>
                    <td class="optional">29.23</td>
                    <td class="optional">77.27</td>
                </tr><tr>
                    <td class="optional"></td>
                    <td class="optional"></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">55</td>
                    <td class="num">56</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"></td>
                    <td class="optional"></td>
                </tr><tr>
                    <td class="optional">33.89</td>
                    <td class="optional">62.94</td>
                    <td class="outer"><span class="pill c-multi">IO N MV</span></td>
                    <td class="num">57</td>
                    <td class="num">58</td>
                    <td class="outer"><span class="pill c-multi">IO N MV</span></td>
                    <td class="optional">28.79</td>
                    <td class="optional">86.39</td>
                </tr><tr>
                    <td class="optional">33.89</td>
                    <td class="optional">63.95</td>
                    <td class="outer"><span class="pill c-multi">IO P MV</span></td>
                    <td class="num">59</td>
                    <td class="num">60</td>
                    <td class="outer"><span class="pill c-multi">IO P MV</span></td>
                    <td class="optional">28.79</td>
                    <td class="optional">83.34</td>
                </tr><tr>
                    <td class="optional"></td>
                    <td class="optional"></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">61</td>
                    <td class="num">62</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"></td>
                    <td class="optional"></td>
                </tr><tr>
                    <td class="optional">34.36</td>
                    <td class="optional">69.88</td>
                    <td class="outer"><span class="pill c-multi">IO N MV</span></td>
                    <td class="num">63</td>
                    <td class="num">64</td>
                    <td class="outer"><span class="pill c-multi">IO N MV</span></td>
                    <td class="optional">28.48</td>
                    <td class="optional">87.35</td>
                </tr><tr>
                    <td class="optional">34.36</td>
                    <td class="optional">65.03</td>
                    <td class="outer"><span class="pill c-multi">IO P MV</span></td>
                    <td class="num">65</td>
                    <td class="num">66</td>
                    <td class="outer"><span class="pill c-multi">IO P MV</span></td>
                    <td class="optional">28.40</td>
                    <td class="optional">85.92</td>
                </tr><tr>
                    <td class="optional"></td>
                    <td class="optional"></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">67</td>
                    <td class="num">68</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"></td>
                    <td class="optional"></td>
                </tr><tr>
                    <td class="optional">41.44</td>
                    <td class="optional">55.09</td>
                    <td class="outer"><span class="pill c-multi">IO N MV</span></td>
                    <td class="num">69</td>
                    <td class="num">70</td>
                    <td class="outer"><span class="pill c-multi">IO N MV</span></td>
                    <td class="optional">28.31</td>
                    <td class="optional">85.02</td>
                </tr><tr>
                    <td class="optional">41.29</td>
                    <td class="optional">50.97</td>
                    <td class="outer"><span class="pill c-multi">IO P MV</span></td>
                    <td class="num">71</td>
                    <td class="num">72</td>
                    <td class="outer"><span class="pill c-multi">IO P MV</span></td>
                    <td class="optional">28.31</td>
                    <td class="optional">84.47</td>
                </tr><tr>
                    <td class="optional"></td>
                    <td class="optional"></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">73</td>
                    <td class="num">74</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"></td>
                    <td class="optional"></td>
                </tr><tr>
                    <td class="optional">40.24</td>
                    <td class="optional">35.45</td>
                    <td class="outer"><span class="pill c-multi">IO N MV</span></td>
                    <td class="num">75</td>
                    <td class="num">76</td>
                    <td class="outer"><span class="pill c-multi">IO N MV</span></td>
                    <td class="optional">33.92</td>
                    <td class="optional">46.51</td>
                </tr><tr>
                    <td class="optional">37.79</td>
                    <td class="optional">57.82</td>
                    <td class="outer"><span class="pill c-multi">IO P MV</span></td>
                    <td class="num">77</td>
                    <td class="num">78</td>
                    <td class="outer"><span class="pill c-multi">IO P MV</span></td>
                    <td class="optional">33.92</td>
                    <td class="optional">47.75</td>
                </tr><tr>
                    <td class="optional"></td>
                    <td class="optional"></td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">79</td>
                    <td class="num">80</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="optional"></td>
                    <td class="optional"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pinout-table-container">
            <h2>Control</h2>
            <table class="pin-table" aria-label="Pin table">
                <tbody>
                <tr>
                    <td class="outer"><span class="pill c-3v3">+3.3V</span></td>
                    <td class="num">1</td>
                    <td class="num">2</td>
                    <td class="outer"><span class="pill c-vdd">VDD</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-3v3">+3.3V</span></td>
                    <td class="num">3</td>
                    <td class="num">4</td>
                    <td class="outer"><span class="pill c-vdd">VDD</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-3v3">+3.3V</span></td>
                    <td class="num">5</td>
                    <td class="num">6</td>
                    <td class="outer"><span class="pill c-vdd">VDD</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-3v3">+3.3V</span></td>
                    <td class="num">7</td>
                    <td class="num">8</td>
                    <td class="outer"><span class="pill c-vdd">VDD</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-3v3">+3.3V</span></td>
                    <td class="num">9</td>
                    <td class="num">10</td>
                    <td class="outer"><span class="pill c-vdd">VDD</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-3v3">+3.3V</span></td>
                    <td class="num">11</td>
                    <td class="num">12</td>
                    <td class="outer"><span class="pill c-vdd">VDD</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-3v3">+3.3V</span></td>
                    <td class="num">13</td>
                    <td class="num">14</td>
                    <td class="outer"><span class="pill c-vdd">VDD</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-3v3">+3.3V</span></td>
                    <td class="num">15</td>
                    <td class="num">16</td>
                    <td class="outer"><span class="pill c-vdd">VDD</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">17</td>
                    <td class="num">18</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">19</td>
                    <td class="num">20</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">21</td>
                    <td class="num">22</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">23</td>
                    <td class="num">24</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">25</td>
                    <td class="num">26</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">27</td>
                    <td class="num">28</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-io">LED 0</span></td>
                    <td class="num">29</td>
                    <td class="num">30</td>
                    <td class="outer"><span class="pill c-io">LED 4</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-io">LED 1</span></td>
                    <td class="num">31</td>
                    <td class="num">32</td>
                    <td class="outer"><span class="pill c-io">LED 5</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-io">LED 2</span></td>
                    <td class="num">33</td>
                    <td class="num">34</td>
                    <td class="outer"><span class="pill c-io">LED 6</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-io">LED 3</span></td>
                    <td class="num">35</td>
                    <td class="num">36</td>
                    <td class="outer"><span class="pill c-io">LED 7</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-io">RESET</span></td>
                    <td class="num">37</td>
                    <td class="num">38</td>
                    <td class="outer"><span class="pill c-multi">VBSEL A</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-config">DONE</span></td>
                    <td class="num">39</td>
                    <td class="num">40</td>
                    <td class="outer"><span class="pill c-multi">VBSEL B</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-config">PROGRAM</span></td>
                    <td class="num">41</td>
                    <td class="num">42</td>
                    <td class="outer"><span class="pill c-analog">A1.8V</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-config">TMS</span></td>
                    <td class="num">43</td>
                    <td class="num">44</td>
                    <td class="outer"><span class="pill c-analog">AV P</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-config">TCK</span></td>
                    <td class="num">45</td>
                    <td class="num">46</td>
                    <td class="outer"><span class="pill c-analog">AV N</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-config">TDI</span></td>
                    <td class="num">47</td>
                    <td class="num">48</td>
                    <td class="outer"><span class="pill c-analog">AREF</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-config">TDO</span></td>
                    <td class="num">49</td>
                    <td class="num">50</td>
                    <td class="outer"><span class="pill c-analog">AGND</span></td>
                </tr>
                </tbody>
            </table>
            <h2>VBSEL Values</h2>
            <table class="mv-table">
                <thead>
                <tr>
                    <th>VBSEL A</th>
                    <th>VBSEL B</th>
                    <th>MV VCCO</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>floating</td>
                    <td>floating</td>
                    <td>3.3</td>
                </tr>
                <tr>
                    <td>low</td>
                    <td>low</td>
                    <td>3.3</td>
                </tr>
                <tr>
                    <td>low</td>
                    <td>high</td>
                    <td>3.3</td>
                </tr>
                <tr>
                    <td>high</td>
                    <td>low</td>
                    <td>1.8</td>
                </tr>
                <tr>
                    <td>high</td>
                    <td>high</td>
                    <td>2.5</td>
                </tr>
                <tr>
                    <td>VBSEL B</td>
                    <td>VBSEL A</td>
                    <td>2.5</td>
                </tr>
                </tbody>
            </table>
            <p>low = 0-0.9 volts<br/>
                high = 1.1-3.3 volts</p>
        </div>
    </div>
    <div class="pinout-legend">
        <h2>Legend</h2>
        <table class="pin-table" aria-label="Pin table">
            <tbody>
            <tr>
                <td class="outer"><span class="pill c-io">IO</span></td>
                <td>Standard IO. <code>SDA</code> and <code>SCL</code> also connect to the QWIIC connector. The 1.35V
                    pins are not 3.3V tolerant
                </td>
            </tr>
            <tr>
                <td class="outer"><span class="pill c-io-diff">IO N/P</span></td>
                <td>Differential capable IO</td>
            </tr>
            <tr>
                <td class="outer"><span class="pill c-clock">MRCC/SRCC</span></td>
                <td>Clock capable input. Single ended clocks must go to the <code>P</code> pin of the pair</td>
            </tr>
            <tr>
                <td class="outer"><span class="pill c-multi">Multi-voltage</span></td>
                <td>Multi-voltage pin. The VCCO for these pins is controllable via <code>VBSEL A</code> and <code>VBSEL
                    B</code></td>
            </tr>
            <tr>
                <td class="outer"><span class="pill c-analog">Analog</span></td>
                <td>Analog signal. <code>IO N/P A</code> and <code>AV P/N</code> are 1V inputs</td>
            </tr>
            <tr>
                <td class="outer"><span class="pill c-config">CONFIG</span></td>
                <td>Configuration signal</td>
            </tr>
            <tr>
                <td class="outer"><span class="pill c-3v3">+3.3V</span></td>
                <td>3.3V output</td>
            </tr>
            <tr>
                <td class="outer"><span class="pill c-vdd">VDD</span></td>
                <td>5V-12V board power. When plugged into USB, this can supply 5V. The USB port is protected against
                    higher voltages
                </td>
            </tr>
            <tr>
                <td class="outer"><span class="pill c-gnd">GND</span></td>
                <td>Ground</td>
            </tr>
            </tbody>
        </table>
    </div>
</details>