<details class="pinout-details">
    <summary>Pinout Table</summary>
    <div class="pinout-table-group">
        <div class="pinout-table-container">
            <h2>Bank A</h2>
            <table class="pin-table" aria-label="Pin table">
                <tbody>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">1</td>
                    <td class="num">2</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">3</td>
                    <td class="num">4</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">5</td>
                    <td class="num">6</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">7</td>
                    <td class="num">8</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">9</td>
                    <td class="num">10</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">11</td>
                    <td class="num">12</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">13</td>
                    <td class="num">14</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">15</td>
                    <td class="num">16</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">17</td>
                    <td class="num">18</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">19</td>
                    <td class="num">20</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">21</td>
                    <td class="num">22</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">23</td>
                    <td class="num">24</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">25</td>
                    <td class="num">26</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">27</td>
                    <td class="num">28</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">29</td>
                    <td class="num">30</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">31</td>
                    <td class="num">32</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">33</td>
                    <td class="num">34</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">35</td>
                    <td class="num">36</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">37</td>
                    <td class="num">38</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">39</td>
                    <td class="num">40</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">41</td>
                    <td class="num">42</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">43</td>
                    <td class="num">44</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-clock">CLK 2 N</span></td>
                    <td class="num">45</td>
                    <td class="num">46</td>
                    <td class="outer"><span class="pill c-clock">CLK 1 N</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-clock">CLK 2 P</span></td>
                    <td class="num">47</td>
                    <td class="num">48</td>
                    <td class="outer"><span class="pill c-clock">CLK 1 P</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">49</td>
                    <td class="num">50</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-io-diff">D0 2 N</span></td>
                    <td class="num">51</td>
                    <td class="num">52</td>
                    <td class="outer"><span class="pill c-io-diff">D0 1 N</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-io-diff">D0 2 P</span></td>
                    <td class="num">53</td>
                    <td class="num">54</td>
                    <td class="outer"><span class="pill c-io-diff">D0 1 P</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">55</td>
                    <td class="num">56</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-io-diff">D1 2 N</span></td>
                    <td class="num">57</td>
                    <td class="num">58</td>
                    <td class="outer"><span class="pill c-io-diff">D1 1 N</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-io-diff">D1 2 P</span></td>
                    <td class="num">59</td>
                    <td class="num">60</td>
                    <td class="outer"><span class="pill c-io-diff">D1 1 P</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">61</td>
                    <td class="num">62</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-io-diff">D2 2 N</span></td>
                    <td class="num">63</td>
                    <td class="num">64</td>
                    <td class="outer"><span class="pill c-io-diff">D2 1 N</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-io-diff">D2 2 P</span></td>
                    <td class="num">65</td>
                    <td class="num">66</td>
                    <td class="outer"><span class="pill c-io-diff">D2 1 P</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">67</td>
                    <td class="num">68</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-io">SDA 2</span></td>
                    <td class="num">69</td>
                    <td class="num">70</td>
                    <td class="outer"><span class="pill c-io">SDA 1</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-io">SCL 2</span></td>
                    <td class="num">71</td>
                    <td class="num">72</td>
                    <td class="outer"><span class="pill c-io">SCL 1</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">73</td>
                    <td class="num">74</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-io">CEC 2</span></td>
                    <td class="num">75</td>
                    <td class="num">76</td>
                    <td class="outer"><span class="pill c-io">CEC 1</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-io">HP 2</span></td>
                    <td class="num">77</td>
                    <td class="num">78</td>
                    <td class="outer"><span class="pill c-io">HP 1</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">79</td>
                    <td class="num">80</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pinout-table-container">
            <h2>Bank B</h2>
            <table class="pin-table" aria-label="Pin table">
                <tbody>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">1</td>
                    <td class="num">2</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">3</td>
                    <td class="num">4</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">5</td>
                    <td class="num">6</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">7</td>
                    <td class="num">8</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">9</td>
                    <td class="num">10</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">11</td>
                    <td class="num">12</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">13</td>
                    <td class="num">14</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">15</td>
                    <td class="num">16</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">17</td>
                    <td class="num">18</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">19</td>
                    <td class="num">20</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">21</td>
                    <td class="num">22</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">23</td>
                    <td class="num">24</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">25</td>
                    <td class="num">26</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">27</td>
                    <td class="num">28</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">29</td>
                    <td class="num">30</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">31</td>
                    <td class="num">32</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">33</td>
                    <td class="num">34</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">35</td>
                    <td class="num">36</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">37</td>
                    <td class="num">38</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">39</td>
                    <td class="num">40</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">41</td>
                    <td class="num">42</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">43</td>
                    <td class="num">44</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">45</td>
                    <td class="num">46</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">47</td>
                    <td class="num">48</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">49</td>
                    <td class="num">50</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">51</td>
                    <td class="num">52</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">53</td>
                    <td class="num">54</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">55</td>
                    <td class="num">56</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">57</td>
                    <td class="num">58</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">59</td>
                    <td class="num">60</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">61</td>
                    <td class="num">62</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">63</td>
                    <td class="num">64</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">65</td>
                    <td class="num">66</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">67</td>
                    <td class="num">68</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">69</td>
                    <td class="num">70</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">71</td>
                    <td class="num">72</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">73</td>
                    <td class="num">74</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">75</td>
                    <td class="num">76</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">77</td>
                    <td class="num">78</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">79</td>
                    <td class="num">80</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pinout-table-container">
            <h2>Control</h2>
            <table class="pin-table" aria-label="Pin table">
                <tbody>
                <tr>
                    <td class="outer"><span class="pill c-3v3">+3.3V</span></td>
                    <td class="num">1</td>
                    <td class="num">2</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-3v3">+3.3V</span></td>
                    <td class="num">3</td>
                    <td class="num">4</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-3v3">+3.3V</span></td>
                    <td class="num">5</td>
                    <td class="num">6</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-3v3">+3.3V</span></td>
                    <td class="num">7</td>
                    <td class="num">8</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-3v3">+3.3V</span></td>
                    <td class="num">9</td>
                    <td class="num">10</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-3v3">+3.3V</span></td>
                    <td class="num">11</td>
                    <td class="num">12</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-3v3">+3.3V</span></td>
                    <td class="num">13</td>
                    <td class="num">14</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-3v3">+3.3V</span></td>
                    <td class="num">15</td>
                    <td class="num">16</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">17</td>
                    <td class="num">18</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">19</td>
                    <td class="num">20</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">21</td>
                    <td class="num">22</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">23</td>
                    <td class="num">24</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">25</td>
                    <td class="num">26</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                    <td class="num">27</td>
                    <td class="num">28</td>
                    <td class="outer"><span class="pill c-gnd">GND</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">29</td>
                    <td class="num">30</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">31</td>
                    <td class="num">32</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">33</td>
                    <td class="num">34</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">35</td>
                    <td class="num">36</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">37</td>
                    <td class="num">38</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">39</td>
                    <td class="num">40</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">41</td>
                    <td class="num">42</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">43</td>
                    <td class="num">44</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">45</td>
                    <td class="num">46</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">47</td>
                    <td class="num">48</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                <tr>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                    <td class="num">49</td>
                    <td class="num">50</td>
                    <td class="outer"><span class="pill c-nc">-</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="pinout-legend">
        <h2>Legend</h2>
        <table class="pin-table" aria-label="Pin table">
            <tbody>
            <tr>
                <td class="outer"><span class="pill c-io">Signal</span></td>
                <td>IO signal used by the board</td>
            </tr>
            <tr>
                <td class="outer"><span class="pill c-io-diff">Signal N/P</span></td>
                <td>Differential signal used by the board</td>
            </tr>
            <tr>
                <td class="outer"><span class="pill c-clock">Signal N/P</span></td>
                <td>Differential clock used by the board</td>
            </tr>
            <tr>
                <td class="outer"><span class="pill c-3v3">+3.3V</span></td>
                <td>3.3V</td>
            </tr>
            <tr>
                <td class="outer"><span class="pill c-gnd">GND</span></td>
                <td>Ground</td>
            </tr>
            <tr>
                <td class="outer"><span class="pill c-nc">-</span></td>
                <td>No internal connection but passed through top and bottom connectors</td>
            </tr>
            </tbody>
        </table>
    </div>
</details>