{% extends 'index.html' %}
{% block main %}
<header class="page-header">
    <div class="breadcrumbs">
        <div class="breadcrumb-container">
            <a class="breadcrumb-path" href="{{ config.base_url }}">Home</a>
            <span class="breadcrumb-separator">»</span>
            <a class="breadcrumb-path" href="{{ section.permalink }}">{{ section.title }}</a>
        </div>
    </div>
    <h1 class="post-title">{{ section.title }}
        <a href="{{ get_url(path=config.feed_filename, trailingslash=false) | safe }}" title="RSS" aria-label="RSS">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round" height="23">
                <path d="M4 11a9 9 0 0 1 9 9"></path>
                <path d="M4 4a16 16 0 0 1 16 16"></path>
                <circle cx="5" cy="19" r="1"></circle>
            </svg>
        </a>
    </h1>
</header>
{% if section.content %}
<div class="post-content">
    {{ section.content | safe }}
</div>
{% endif %}
<footer class="page-footer">
    <nav class="pagination">
        {% if paginator.previous %}
        <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
        {% endif %}
        {% if paginator.next %}
        <a class="next" href="{{ paginator.next }}">Next ›</a>
        {% endif %}
    </nav>
</footer>
{% endblock %}
